<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 align="center" style="top:50%">Registrasi Berhasil</h1>
<script type="text/javascript">
	setTimeout(function(){ window.location.href = "/" ; }, 2000);
</script>
</body>
</html>